
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.hero-wrap {
	background-position: center center !important;
}

.hero-wrap .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	opacity: .4;
	background: #000000;
}

.hero-wrap.hero-wrap-2 {
	height: 400px;
}

.hero-wrap.hero-wrap-2 .overlay {
	opacity: .5;
}

.hero-wrap.hero-wrap-2 .slider-text {
	height: 400px;
}

.hero-wrap .slider-text h1 {
	font-size: 70px;
	color: #fff;
	line-height: 1.2;
	font-weight: 800;
	font-family: "Poppins", Arial, sans-serif;
	text-transform: uppercase;
}

@media (max-width: 991.98px) {
	.hero-wrap .slider-text h1 {
		font-size: 40px;
	}
}

.hero-wrap .slider-text h1 span {
	color: #499D4A;
}

.hero-wrap .slider-text .subheading {
	font-size: 15px;
	color: #499D4A;
	text-transform: uppercase;
	font-family: "Poppins", Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 2px;
}

.hero-wrap .slider-text p {
	font-size: 18px;
	line-height: 1.5;
	color: rgba(255, 255, 255, 0.7);
}

.hero-wrap .slider-text p strong {
	font-weight: 700;
}

.hero-wrap .slider-text p strong a {
	color: #000000;
}

.hero-wrap .slider-text .btn-custom {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}

.hero-wrap .slider-text .breadcrumbs {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 20px;
	z-index: 99;
}

.hero-wrap .slider-text .breadcrumbs span {
	color: rgba(255, 255, 255, 0.5);
}

.hero-wrap .slider-text .breadcrumbs span i {
	color: rgba(255, 255, 255, 0.3);
}

.hero-wrap .slider-text .breadcrumbs span a {
	color: rgba(255, 255, 255, 0.7);
}

.hero-wrap .slider-text .breadcrumbs span a:hover,
.hero-wrap .slider-text .breadcrumbs span a:focus {
	color: rgb(27, 214, 30);
}

.hero-wrap .slider-text .breadcrumbs span a:hover i,
.hero-wrap .slider-text .breadcrumbs span a:focus i {
	color: rgb(27, 214, 30);
}

.hero-wrap .slider-text .bread {
	font-weight: 700 !important;
}

.owl-carousel {
	position: relative;
}

.owl-carousel .owl-item {
	opacity: 1;
}

.owl-carousel .owl-item.active {
	opacity: 1;
}

.owl-carousel .owl-dots {
	text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	background: #e6e6e6;
	position: relative;
}

.owl-carousel .owl-dots .owl-dot:after {
	position: absolute;
	top: -2px;
	left: -2px;
	right: 0;
	bottom: 0;
	width: 14px;
	height: 14px;
	content: '';
	border: 1px solid #4d4d4d;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot:focus {
	outline: none !important;
}

.owl-carousel .owl-dots .owl-dot.active {
	background: #b3b3b3;
}

.owl-carousel .owl-dots .owl-dot.active:after {
	border-color: #fff;
}

.owl-carousel.home-slider {
	position: relative;
	height: 700px;
	z-index: 0;
}

.owl-carousel.home-slider .slider-item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 700px;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.owl-carousel.home-slider .slider-item .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background: #000000;
	opacity: .3;
	width: 100%;
	padding: 0;
	z-index: 0;
}

@media (max-width: 1199.98px) {
	.owl-carousel.home-slider .slider-item {
		background-position: center center !important;
	}
}

.owl-carousel.home-slider .slider-item .slider-text {
	height: 700px;
	position: relative;
}

.owl-carousel.home-slider .slider-item .slider-text .text {
	z-index: 0;
	color: rgba(255, 255, 255, 0.9);
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
	font-size: 80px;
	font-weight: 800;
	letter-spacing: 7px;
	text-transform: uppercase;
	color: #fff;
	line-height: 1;
	text-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991.98px) {
	.owl-carousel.home-slider .slider-item .slider-text h1 {
		font-size: 40px;
		letter-spacing: 3px;
	}
}

.owl-carousel.home-slider .slider-item .slider-text h2 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "Poppins", Arial, sans-serif;
	font-weight: 700;
	color: #85f19e;
	display: inline-block;
	position: relative;
	letter-spacing: 4px;
}

.owl-carousel.home-slider .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}

.owl-carousel.home-slider .owl-nav .owl-prev,
.owl-carousel.home-slider .owl-nav .owl-next {
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	outline: none !important;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 0;
}

.owl-carousel.home-slider .owl-nav .owl-prev span:before,
.owl-carousel.home-slider .owl-nav .owl-next span:before {
	font-size: 30px;
	color: rgba(255, 255, 255, 0.5);
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.owl-carousel.home-slider .owl-nav .owl-prev:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-prev:focus span:before,
.owl-carousel.home-slider .owl-nav .owl-next:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-next:focus span:before {
	color: #fff;
}

.owl-carousel.home-slider .owl-nav .owl-prev {
	left: 0;
	margin-left: 0;
}

.owl-carousel.home-slider .owl-nav .owl-next {
	right: 0;
	margin-right: 0;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev,
.owl-carousel.home-slider:hover .owl-nav .owl-next {
	opacity: 1;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev {
	margin-left: 50px;
}

.owl-carousel.home-slider:hover .owl-nav .owl-next {
	margin-right: 50px;
}

.owl-carousel.home-slider .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40px;
	width: 100%;
	text-align: center;
}

@media (max-width: 767.98px) {
	.owl-carousel.home-slider .owl-dots {
		bottom: 5px;
	}
}

.owl-carousel.home-slider .owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.4);
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
	background: #fff;
}

.owl-carousel.owl-drag .owl-item {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

.owl-carousel {
	position: relative;
}

.owl-carousel .owl-item {
	opacity: .4;
}

.owl-carousel .owl-item.active {
	opacity: 1;
}

.owl-carousel .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -10px;
	color: #499D4A !important;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	transition: all 0.7s ease;
	opacity: 0;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
	font-size: 30px;
}

.owl-carousel .owl-nav .owl-prev {
	left: 0;
}

.owl-carousel .owl-nav .owl-next {
	right: 0;
}

.owl-carousel .owl-dots {
	text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	background: #e6e6e6;
	position: relative;
}

.owl-carousel .owl-dots .owl-dot:after {
	position: absolute;
	top: -2px;
	left: -2px;
	right: 0;
	bottom: 0;
	width: 14px;
	height: 14px;
	content: '';
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.owl-carousel .owl-dots .owl-dot.active {
	background: #b3b3b3;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
	opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-prev {
	left: -25px;
}

.owl-carousel:hover .owl-nav .owl-next {
	right: -25px;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container {
	min-width: 992px !important;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.mb-3,
.my-3 {
	margin-bottom: 1rem !important;
}

.choice {
	background: url('/files/icons/choice_icon.png');
	height: 50px;
	width: 50px;
	display: block;
	/* Other styles here */
}

.generations {
	background: url('/files/icons/generations.png');
	height: 20px;
	width: 80px;
	display: block;
	/* Other styles here */
}

.filter_icon {
	background: url('/files/icons/filter.png');
	height: 65px;
	width: 65px;
	display: block;
	/* Other styles here */
}

.available_icon {
	background: url('/files/icons/available.png');
	height: 65px;
	width: 65px;
	display: block;
	/* Other styles here */
}

.respo_icon {
	background: url('/files/icons/respo_icon.png');
	height: 65px;
	width: 65px;
	display: block;
	/* Other styles here */
}

.support_icon {
	background: url('/files/icons/support_icon.png');
	height: 65px;
	width: 65px;
	display: block;
	/* Other styles here */
}

.quality_icon {
	background: url('/files/icons/quality_icon.png');
	height: 65px;
	width: 65px;
	display: block;
	/* Other styles here */
}


.ftco-section-parallax {
	position: relative;
}

.ftco-section-parallax .parallax-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	padding: 4em 0;
}

.ftco-section-parallax .heading-section-white h2 {
	font-weight: 400 !important;
}

.ftco-section {
	padding: 7em 0;
	position: relative;
}

@media (max-width: 767.98px) {
	.ftco-section {
		padding: 6em 0;
	}
}

.ftco-bg-dark {
	background: #3c312e;
}

.ftco-no-pt {
	padding-top: 0 !important;
}

.ftco-no-pb {
	padding-bottom: 0 !important;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.ftco-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

 .ftco-animate {
    opacity: 0;
	visibility: hidden;
 }


.services {
	display: block;
	width: 100%;
	position: relative;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.services .icon {
	line-height: 1.3;
	position: relative;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
	border-radius: 50%;
	background: #499D4A;
	-webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
}

.services .icon:before {
	position: absolute;
	top: 20%;
	left: 50%;
	bottom: 0;
	right: 0;
	content: '';
	background: transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	z-index: -1;
	width: 40px;
	height: 40px;
}

.services .icon span {
	font-size: 60px;
	color: #000000;
}

.services .media-body h3 {
	font-weight: 700;
	font-size: 20px;
	color: #000000;
}

.services-2 {
	width: 100%;
}

.services-2 h3 {
	font-size: 20px;
	font-weight: 700;
}

.services-2 .icon {
	line-height: 1.3;
	position: relative;
	width: 74px;
	height: 74px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
	margin-top: 0;
}

.services-2 .icon:after {
	position: absolute;
	top: -10px;
	left: 0;
	bottom: 0;
	right: 0;
	content: '';
	border: 2px dotted #b3b3b3;
	border-bottom: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	z-index: -1;
	width: 74px;
	height: 74px;
}

.services-2 .icon:before {
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: 0;
	right: 0;
	content: '';
	background: transparent;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-left: -20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	z-index: -1;
	width: 40px;
	height: 40px;
}

.services-2 .icon span {
	font-size: 70px;
	color: #000000;
}

.services-2 .text {
	margin-left: 2em;
}

.services-2:nth-child(1) {
	background: rgba(0, 0, 0, 0.05);
}

.services-2:nth-child(2) {
	background: #499D4A;
	color: #000000;
}

.services-2:nth-child(2) .icon:after {
	border-color: #fff !important;
}

.services-2:nth-child(2) .icon:before {
	background: #fff !important;
}

.services-2:nth-child(3) {
	background: #00043c;
}

.services-2:nth-child(3) .icon:before {
	background: rgba(255, 255, 255, 0.1) !important;
}

.services-2:nth-child(3) .icon span {
	color: #499D4A !important;
}

.services-2:nth-child(3) .text {
	color: rgba(255, 255, 255, 0.8);
}

.services-2:nth-child(3) .text h3 {
	color: #fff;
}

.pb-md-5, .py-md-5 {
    padding-bottom: 3rem !important;
}

.pt-md-5, .py-md-5 {
    padding-top: 3rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.align-self-stretch {
    align-self: stretch !important;
}

.col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.text-center {
    text-align: center !important;
}

.pt-md-4, .py-md-4 {
    padding-top: 1.5rem !important;
}

.d-block {
    display: block !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-md-end {
	-webkit-box-pack: end !important;
	-ms-flex-pack: end !important;
	justify-content: flex-end !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-md-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

.col-md-6 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.col-md-6 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

img {
	vertical-align: middle;
	border-style: none;
}

@media (max-width: 767.98px) {
	.img-video {
		height: 400px;
	}
}

.align-self-stretch {
	-ms-flex-item-align: stretch !important;
	-ms-grid-row-align: stretch !important;
	align-self: stretch !important;
}

.icon-video {
	width: 80px;
	height: 80px;
	background: #499D4A;
	-webkit-animation: pulse 2s infinite;
	animation: pulse 2s infinite;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

@media (min-width: 768px) {
	.icon-video {
		margin-right: -35px;
	}
}

.icon-video span {
	font-size: 20px;
	color: #fff;
}
