/**
 * @license LGPLv3, http://opensource.org/licenses/LGPL-3.0
 * @copyright Aimeos (aimeos.org), 2015-2018
*/


/* Content navigation */

.aimeos .main-navbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	min-height: 2.5rem;
	background-color: #F8F8F8;
	padding: 0 0.5rem;
	margin: 0.5rem 0;
	z-index: 1040;
}

.aimeos .main-navbar .navbar-brand {
	align-items: baseline;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.aimeos .main-navbar .navbar-secondary {
	font-size: 80%;
	color: #808080;
}

.aimeos .main-navbar .navbar-secondary:before {
	content: " ";
}

.aimeos .main-navbar span.placeholder {
	display: inline-block;
	height: 35px;
}


/** Search Toggle **/

@media (max-width: 767px) {

	.aimeos .toggle-search {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		position: relative;
		width: 18px;
		cursor: pointer;
		transition: color .3s;
	}

	.aimeos .toggle-search:hover {
		color: #333;
	}

	.aimeos .toggle-search .icon {
		font: normal normal normal 14px/1 FontAwesome;
		color: #bdbdbd;
		display: block;
	}

	.aimeos .toggle-search .icon.search:before {
		content: "\f002"
	}
}

@media (min-width: 768px) {
	.aimeos .toggle-search {
		display: none;
	}
}

.aimeos .form-control.filter-value {
	font-size: 1rem;
}


/** Search field with custom selects **/

.aimeos .main-navbar form>* {
	margin-left: 0.25rem;
}

.aimeos .main-navbar form .more,
.aimeos .main-navbar form .less {
	font: normal normal normal 14px/1 FontAwesome;
	font-weight: bold;
	font-size: 125%;
	padding: 0.5rem;
	cursor: pointer;
	color: #4090C0;
}

.aimeos .main-navbar form .more:before {
	content: "\f0d9";
}

.aimeos .main-navbar form .less:before {
	content: "\f0da";
}

.aimeos .main-navbar .form-inline,
.aimeos .main-navbar .input-group {
	display: inline-flex;
}

.aimeos .main-navbar .input-group {
	width: inherit;
}

.aimeos .main-navbar .input-group input,
.aimeos .main-navbar .input-group select {
	border: 1px solid #bbb;
}

.aimeos .main-navbar .input-group select {
	height: 34px;
}

.aimeos .main-navbar input,
.aimeos .main-navbar .custom-select,
.aimeos .main-navbar .filter-columns .dropdown-item,
.aimeos .main-navbar .filter-columns .dropdown-toggle {
	font-family: monospace;
	border-radius: 0;
}

.aimeos .main-navbar .dropdown-item input {
	margin-right: 0.75rem;
}

.aimeos .main-navbar .filter-columns,
.aimeos .main-navbar .filter-operator,
.aimeos .main-navbar .filter-key {
	opacity: 0;
	display: none;
	overflow: hidden;
	transition: all 0.25s;
}

.aimeos .main-navbar .filter-value {
	width: 9rem;
	overflow: hidden;
}

.aimeos .main-navbar .filter-key,
.aimeos .main-navbar .filter-operator {
	width: 0;
}

.aimeos .main-navbar .filter-key.expanded {
	width: 9rem;
}

.aimeos .main-navbar .filter-operator.expanded {
	width: 4rem;
}

.aimeos .main-navbar .filter-key.expanded,
.aimeos .main-navbar .filter-operator.expanded {
	opacity: 1;
	display: inline-block;
}

/* MQ Mobile only */

@media (max-width: 767px) {

	.aimeos .main-navbar .form-inline {
		flex-wrap: nowrap;
		align-items: center;
		justify-content: flex-end;
		position: absolute;
		right: -0.5rem;
		left: 3rem;
		max-width: 100%;
		background: white;
		padding: 0.25rem;
		border-radius: 4px;
		box-shadow: 0 0 4px rgba(20, 20, 20, .35);
		white-space: nowrap;
		z-index: -1;
		visibility: hidden;
		-webkit-transition: z-index .3s,
			visibility .3s ease .3s,
			-webkit-transform .3s ease-in-out;
		transition: z-index .3s,
			visibility .3s ease .3s,
			-webkit-transform .3s ease-in-out;
		-o-transition: transform .3s ease-in-out,
			z-index .3s,
			visibility .3s ease .3s;
		transition: transform .3s ease-in-out,
			z-index .3s,
			visibility .3s ease .3s;
		transition: transform .3s ease-in-out,
			z-index .3s,
			visibility .3s ease .3s,
			-webkit-transform .3s ease-in-out;
		-webkit-transform: translateY(-58px);
		-ms-transform: translateY(-58px);
		transform: translateY(-58px);
	}

	.js--show-search .aimeos .main-navbar .form-inline {
		visibility: visible;
		z-index: 2000;
		-webkit-transform: translateY(45px);
		-ms-transform: translateY(45px);
		transform: translateY(45px);
		-webkit-transition: z-index .3s,
			visibility 0s ease 0s,
			-webkit-transform .3s ease-in-out;
		transition: z-index .3s,
			visibility 0s ease 0s,
			-webkit-transform .3s ease-in-out;
		-o-transition: transform .3s ease-in-out,
			z-index .3s,
			visibility 0s ease 0s;
		transition: transform .3s ease-in-out,
			z-index .3s,
			visibility 0s ease 0s;
		transition: transform .3s ease-in-out,
			z-index .3s,
			visibility 0s ease 0s,
			-webkit-transform .3s ease-in-out;
	}
}


/** Content **/

.aimeos .main-content {
	margin-left: 3rem;
	margin-right: -0.5rem;
	margin-bottom: 1rem;
	padding: 0;
}

.aimeos .main-content .item-actions {
	padding: 0 calc(0.5rem + 15px);
	white-space: nowrap;
	text-align: right;
	font-size: 0.8rem;
	display: block;
	width: inherit;
	margin-left: auto;
}

.aimeos .main-content .main-navbar .item-actions {
	display: inline-block;
	width: inherit;
	padding: 0;
}

.aimeos .main-content .item-actions .btn:not(.dropdown-toggle):not(.act-help) {
	min-width: 4rem;
}

.aimeos .main-content .item-actions .btn.act-help {
	min-width: 2rem;
}

.aimeos .main-content .item-actions .btn {
	margin: 0;
}

.aimeos .main-content .item-actions .btn {
	margin: 0.5rem 0;
}


/* MQ Mobile very small only */

@media (max-width: 400px) {
	.aimeos .main-content .item-actions {
		font-size: 0.7rem;
	}

	.aimeos .form-control.search-input {
		font-size: 0.8rem;
	}

	.nav-tabs .nav-link {
		padding: 0.35rem 0.75rem;
	}
}


/* MQ Tablet+ */

@media (min-width: 768px) {
	.aimeos .main-navbar {
		position: -webkit-sticky;
		position: sticky;
		z-index: 1041;
		top: 0;
		margin: 1rem 0;
		min-height: 3rem;
	}

	.aimeos .main-navbar .item-actions {
		margin-top: 0;
		font-size: 90%;
	}

	.aimeos .main-content {
		margin-left: 3.5rem;
		margin-right: 0rem;
	}

	.aimeos .main-content .item-actions .btn:not(.dropdown-toggle):not(.act-help) {
		min-width: 5rem;
	}

	.aimeos .item-container .item-actions {
		display: none;
	}
}


/* MQ Desktop+ */

@media (min-width: 992px) {

	.aimeos .main-navbar .item-actions {
		margin-top: 0;
	}

	.aimeos .main-content {
		margin-left: 6rem;
	}

	.aimeos .main-content .item-actions .btn:not(.dropdown-toggle):not(.act-help) {
		min-width: 6rem;
	}
}


/* Footer */

.aimeos .main-footer {
	background-color: #F8F8F8;
	position: relative;
	padding: 0.25rem 0.5rem;
	text-align: right;
	width: auto;
	margin: auto -0.5rem 1rem 3rem;
}

@media (min-width: 992px) {
	.aimeos .main-footer {
		margin-left: 6rem;
		margin-right: 0;
	}
}
